<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tomaszmajdan.pracainzynierska">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.intent.action.CALL_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Praca inżynierska"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserEdit" />
        <activity android:name=".UserInfo" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".MainActivity" />

        <activity android:name=".Animals.AnimalActivity" />
        <activity android:name=".Cure.Cure_Activity" />


        <activity android:name=".Welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Doctors.DoctorsActivity" />
        <activity android:name=".Visit.MyVisitActivity" />
        <activity android:name=".Visit.VisitAppointment" />
        <activity android:name=".PhoneActivity"></activity>
    </application>

</manifest>